<style>
  .section-content {
    margin-left: 3.5rem;
  }
  .printing-list img {
    width: 300px;
    display: block;
    margin-top: 0.5rem;
  }
</style>

<section>
  <div id="3d_printing" class="section-content">
    <h2>3D Printing</h2>
    <h3>Welcome to the 3D Printing section! Here you'll find projects, tips, and resources related to 3D printing.</h3>
    <ul class="printing-list">

           <!-- My 3D Printer -->

      <h3>My 3D Printer</h3>
      <li>
        <strong>Ender 3</strong><br>
        My trusty Ender 3 printer, which I use for most of my 3D printing projects.
        <img src="/images/ender3.webp" alt="Ender 3 Printer">


            <!-- My 3D Prints -->

       <h3>Recent 3D Prints</h3>
       <h4>These are not all of my 3D Prints but some of my Favorites</h4>
      <li>

            <!-- Rocktopus-->

        <strong>Rocktopus</strong><br>
        Dwayne Johnson as an octopus! You can find more about it on
        <a href="https://www.thingiverse.com/thing:5142294" target="_blank">Thingiverse</a>.
        <img src="/images/rocktopus.jpg" alt="Rocktopus 3D Print">
      </li>

                  <!-- Youtube Popup Sign -->

      <li>
        <strong>My YouTube Popup Sign</strong><br>
        I made this sign to promote my YouTube channel. I designed it with MakerLab and printed it on my Ender 3.
        <img src="/images/Youtube 3d Print.jpg" alt="YouTube Popup Sign 3D Print">
      </li>
    </ul>
  </div>
</section>