<section id="3d_printing" class="resume-section p-3 p-lg-5 d-flex flex-column">
  <h2>3D Printing</h2>
  <p>Welcome to the 3D Printing section! Here you'll find projects, tips, and resources related to 3D printing.</p>
  {{ $projects := index site.Data "3d_printing" }}
  {{ if $projects }}
    <ul>
      {{ range $projects }}
        <li>
          <strong>{{ .name }}</strong>: {{ .description }}
          {{ if .image }}<br><img src="{{ .image }}" alt="{{ .name }}" style="max-width:200px;" />{{ end }}
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>No 3D printing projects available yet.</p>
  {{ end }}
</section>
