<section>
  <div id="calculator" style="margin-left: 3.5rem;">
   <h2>How to install Doom on Ti 83/84 Plus</h2>
   <h3>This Tutorial is Very Simple to Follow</h3>
    <ul>
      <li>
        <strong>Step 1</strong><br>
        Download the Doom.8xp and mirage os file from 
        <a href="/calc/doom.8xp" target="_blank">here</a></h5>
        and
         <a href="/calc/MIRAGEOS.8xk" target="_blank">here</a>.</h5>
        <ul>
      </li>
    </ul>
      <li>
        <strong>Step 2</strong><br>
        Download Ti Connect CE from
        <a href="https://education.ti.com/en/products/computer-software/ti-connect-ce-sww" target="_blank">here</a>.
        <ul>
      </li>
    </ul>
      <li>
        <strong>Step 3</strong><br>
        Connect your calculator to your computer with the USB cable provided with your calculator.
        <ul>
      </li>
    </ul>
      <li>
        <strong>Step 4</strong><br>
        Open Ti Connect CE and select the calculator icon on the left side.
        <ul>
        <image src="/images/calc_help.png" alt="Ti Connect CE" style=width:200px;>
        </li>
      </ul>
       <li>
        <strong>Step 5</strong><br>
        Drag and drop the Doom.8xp and the MirrageOS.8xk file onto your calculator in the TI Connect CE App.
        <ul>
      </li>
    </ul>
      <li>
        <strong>Step 6</strong><br>
        Open the MirageOS app on your calculator and select the Doom app to play.
        <ul>
        <image src="/images/calc_help.jpg" alt="Doom on TI-84 Plus" style=width:200px; height: auto;>
        <ul>
      </li>
  </div>
</section>