<style>
  .section-content {
    margin-left: 3.5rem;
  }

  .dad {
    display: block;
    margin-top: 0.5rem;
  }

  .dad img {
    width: 200px;
    height: auto;
    margin-right: 10px; /* Space between images */
    display: inline-block; /* Keep images side by side */
  }

  .my-element {
    margin-top: 80px;
  }

  .dad p {
    clear: both; /* Ensure text doesn't wrap around images */
    margin-top: 20px; /* Space above text */
  }
</style>

<section>
  <div id="dad" class="section-content dad">
    <h2>My Dad</h2>
    <img src="/images/dad.jpg" alt="Dad">
    <img src="/images/dad2.jpg" alt="Dad">
    <p>This is my dad. He loves woodworking and fishing. He is a great cook and makes the best burgers. He is amazing at fixing things around the house and always has a solution to any problem.</p>
  </div>
</section>