<style>
  .section-content {
    margin-left: 3.5rem;
  }
  .printing-list img {
    width: 300px;
    display: block;
    margin-top: 0.5rem;
  }
  .my-element {
    margin-top: 80px;
  }
</style>

<section id="education" class="section-content">
  <div class="my-element"></div>
  <h2>My Education</h2>
  <h3>Welcome to My Education Section</h3>

  <h3>Clinton Massie</h3>
  <ul class="printing-list">
    <li>
      <strong>Elementry and Middle School</strong><br>
      I went to Clinton Massie from 2017 to 2025. I took all honors classes available to me.<br>
    </li>
  </ul>
    <h3>CHCA</h3>
    <ul class="printing-list">
      <li>
        <strong>High School</strong><br>
        I will be attending CHCA from 2025 to 2029.<br>
      </li>
    </ul>
</section>