<style>
  .section-content {
    margin-left: 3.5rem;
  }
  .my-element {
    margin-top: 80px;
  }
</style>

<section id="Games" class="section-content">
   <div class="my-element"></div>
  <h2>Welcome to the Games Section</h2>
  <p>There are not very many games as of right now.</p>

<!-- My Game -->

  <h3>Download My First Game</h3>
    Here is a link to download my game:
    <a href="https://drive.google.com/file/d/1Mf9T6CsjvZ5LrB24MZt2zTyPyJ5Jrj8v/view?usp=sharing" target="_blank">Working Game.exe</a>

<!-- Mario Recration -->
  <h3>Download My Recreation of Mario made in just 15min</h3>
    Here is a link to download mario:
    <a href="https://drive.google.com/file/d/1IraRms4KdurKDwUZSdKFzBqohPy07-Y6/view?usp=sharing" target="_blank">Mario.exe</a>

    <!-- My Recreation of Pong -->

  <h3>Download My version of Pong made in just 30min</h3>
    Here is a link to download pong:
    <a href="https://drive.google.com/file/d/1wcnPp-Gsxj7Yu9OVBXlYETLs5sH12HpL/view?usp=sharing" target="_blank">Pong.exe</a>


  <!-- Minecraft -->

  <h3>Play Minecraft</h3>
    JK — here’s the link to buy it though:
    <a href="https://www.minecraft.net/en-us/store/minecraft-java-edition" target="_blank">Minecraft</a>

     <!-- 2048 -->

  <h3>Play 2048</h3>
        <iframe
           src="https://2048game.com/"
           width="968"
           height="645.32">
        </iframe>

  <!-- Retro Bowl -->

  <h3>Play Retro Bowl</h3>
        <iframe
           src="https://game316009.konggames.com/gamez/0031/6009/live/index.html"
           width="968"
           height="561">
        </iframe>

 <!-- Smash Karts -->

  <h3>Play Smash Karts</h3>
        <iframe
           src="https://smashkarts.io/"
           width="968"
           height="645.32">
        </iframe>
</section>