<section id="Games" style="margin-left: 3.5rem;">

     <!-- Intro -->

    <h2>Welcome to the Games Section</h2>
    <p>There are not very many games as of right now.</p>

     <!-- Minecraft -->

    <h3>Play Minecraft</h3>
    <h5>
      JK here is the link to buy it though 
      <a href="https://www.minecraft.net/en-us/store/minecraft-java-edition" target="_blank">Minecraft</a>.
    </h5>

    <!-- Retro Bowl -->

    <h3>Play Retro Bowl</h3>
    <iframe 
      src="https://game316009.konggames.com/gamez/0031/6009/live/index.html"
      width="968" height="561"> 
    </iframe>

    <!-- Smash Karts -->

    <h3>Play Smash Karts</h3>
    <iframe 
     src="https://smashkarts.io/"
     width="968" height="561">
    </iframe>
</section>