<div id="my_computers" style="margin-left: 3.5rem;">
  <h2>My Computers</h2>
  <ul>
    <li>
      <strong>Dell Vostro 230</strong><br>
      Intel Core 2 Duo, 4GB RAM, 1TB SSD, AMD Radeon HD 4350
    <li>
      <img src="/images/vostro230.jpg" alt="Dell XPS 13" style="width:200px;">
    </li>
   </ul> 
    <li>
      <strong>Custom Desktop</strong><br>
      Ryzen 7 7700x, 32GB RAM, 7800 XT, 2TB NVMe SSD, MSI B650 P Wifi Pro
    <li>
      <img src="/images/good_pc.webp" alt="Dell XPS 13" style="width:200px;">
    </li>
    <strong>Hp Pavilion 304 W</strong><br>
      Athlon XP, 640MB RAM, 40GB HDD, Cheap Gigabyte Motherboard
    <li>
      <img src="/images/304w.jpg" alt="304W" style="width:200px;">
    </li>
      <strong>Dell Lattitude C600</strong><br>
      Pentium 4, 512MB RAM, 20GB HDD, 24x CD-ROM, 
    <li>
      <img src="/images/Lattitude_C600.webp" alt="304W" style="width:200px;">
  </ul>
</div>