<style>
  .section-content {
    margin-left: 3.5rem;
  }
  .tech-list img {
    width: 200px;
    display: block;
    margin-top: 0.5rem;
  }
  .my-element {
    margin-top: 80px;
  }
</style>

<section>
  <div class="my-element"></div>
  <div id="my_tech" class="section-content">
    <h2>My Tech</h2>
    <h3>My Computers</h3>
    <ul class="tech-list">
      <li>
        <strong>Dell Vostro 230</strong><br>
        Intel Core 2 Duo, 4GB RAM, 1TB SSD, AMD Radeon HD 4350
        <img src="/images/vostro230.jpg" alt="Dell Vostro 230">
        Currently running Ubuntu 24.04 LTS but it was originally a Windows 7 machine.
      </li>
      <li>
        <strong>Custom Desktop</strong><br>
        Ryzen 7 7700x, 32GB RAM, 7800 XT, 2TB NVMe SSD, MSI B650 P Wifi Pro
        <img src="/images/good_pc.webp" alt="Custom Desktop">
        This is my main computer, running Windows 11 Pro. I use this for gaming, 3d Printing, designing this site, and more.
       <ul>
        <li>
        <strong>Spkpal Speakers</strong><br>
        <img src="/images/speaker.jpg" alt="Speaker">
        I use these Spkpal 2.1 speakers with my main computer. They have a subwoofer and two satellite speakers, providing great sound quality for music and gaming. Here is a link on walmart: <a href="https://www.walmart.com/ip/SPKPAL-2-1-Computer-Speakers-Desktop-Subwoofer-Dynamic-RGB-PC-Speakers-11W-Stereo-Sound-USB-Powered-Multimedia-Speaker-System-3-5mm-AUX-in-Laptop-Tab/11111654469?classType=REGULAR&adsRedirect=true" target="_blank">Spkpal 2.1 Speakers</a>
      </li>
      </li>
      </ul>
      <li>
        <strong>HP Pavilion 304 W</strong><br>
        Athlon XP, 640MB RAM, 40GB HDD, Cheap Gigabyte Motherboard
        <img src="/images/304w.jpg" alt="HP Pavilion 304 W">
        This computer is currently running Windows XP and is used for retro gaming and testing old software. I have installed various windows oses on it, including Windows 98, Windows 2000, and Windows ME.
      </li>
      <li>
        <strong>Dell Latitude C600</strong><br>
        Pentium 4, 512MB RAM, 20GB HDD, 24x CD-ROM
        <img src="/images/Lattitude_C600.webp" alt="Dell Latitude C600">
        This is my oldest laptop, running Windows 2000. It is used for retro computing and testing old software. I have also installed every windows os on it from Windows 3.1 to Windows 7.
      </li>
      <li>
        <strong>Raspberry Pi 3B+</strong><br>
        1.4GHz CPU, 1GB RAM, 32GB Micro SD, 40-pin GPIO Header
        <img src="/images/3B+.jpg" alt="Raspberry Pi 3B+">
        My Raspberry Pi is currently Running Octoprint, which I use to control my 3D printer. It is also used for various projects and experiments.
      </li>
    </ul>
  </div>
</section>

<!-- Phone -->
<section>
  <div class="section-content">
    <h3>My Phone</h3>
    <ul class="tech-list">
      <li>
        <strong>S20 FE 5G</strong><br>
        Snapdragon 865, 6GB RAM, 128GB Storage, 4500mAh Battery, Android 13, One UI 5.1, 120Hz AMOLED Display
        <img src="/images/s20fe.webp" alt="S20 FE 5G">
      </li>
    </ul>
  </div>
</section>

<!-- Consoles -->
<section>
  <div class="section-content">
    <h3>My Consoles</h3>
    <ul class="tech-list">
      <li>
        <strong>Nintendo Wii</strong><br>
        1.25GHz CPU, 512MB RAM, 512MB Flash Memory, 12x DVD Drive, Wiimote and Nunchuk, Wii Fit Balance Board
        <img src="/images/wii.jpg" alt="Nintendo Wii">
      </li>
      <li>
        <strong>Sega Dreamcast</strong><br>
        200MHz CPU, 16MB RAM, 8MB Video RAM, 1MB Sound RAM, 56k Modem, VMU
        <img src="/images/dreamcast.jpg" alt="Sega Dreamcast">
      </li>
      <li>
        <strong>Atari Flashback 7</strong><br>
        76 Built-in Games, 2 Controllers, A/V Output
        <img src="/images/flashback.jpg" alt="Atari Flashback 7">
      </li>
    </ul>
  </div>
</section>