<style>
  .my-element {
    margin-top: 80px;
  }
</style>

<section id="Youtube" style="margin-left: 3.5rem;">
  <div class="my-element"></div>
    <h2>My Youtube Channel</h2>
     <ul>
       <strong>Logan's Tech Gaming and Other Stuff</strong><br>
        <p>Welcome to my YouTube channel! Here you'll find a variety of content including tech reviews, gaming videos, and other interesting stuff.</p>
        <p>Feel free to check out my latest videos and subscribe for more updates!</p>
        <a href="https://youtube.com/@logan_sneed">Link to Youtube Channel</a>
      </ul>
        Some of my popular videos include:
        <li>
        How to use Winamp for Beginners
        </li>
        <li>
        How to use VLC for Beginners
        </li>
  <div>
</section>